@import 'bootstrap/bootstrap-reboot.scss';

.container{
    height: 100vh;
    background-color: #f4839e;
    display: flex;
    flex-direction: column;
    transition: background-color 0.3S;
    place-content: center;
}

.button{
    place-self: center;
    width: 400px;
    height: 110px;
    display: grid;
    cursor: pointer;
    grid-template-columns: 1fr 2fr;
    border-radius: 10px;
    background-color: whitesmoke;
    box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.356);
    transform: scale(1);
    transition: all 0.3s cubic-bezier(.28,1.95,.73,-0.9);
    &:hover{
        transform: scale(0.93);
        box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.356);       
    }

    &__anim{
        border-radius: 10px 0px 0px 10px;
        background-color: #ffbecd;
        display: flex;
        justify-content: center;
        overflow: hidden;
        transition: background-color 0.3s linear;
        &__bed{
            transition: 0.3s linear;
            width: 4.6rem;
        }
        &__lugg-one{
            transition: 0.3s linear;
            width: 2.8rem;
            position: relative;
            right: 25%;
            top: 10px;
        }
        &__lugg-two{
            transition: 0.3s linear;
            width: 2.3rem;
            position: relative;
            left: 25%;
            top: 17px;
        }
        &__dog{
            transition: 0.4s linear 0.2S;
            width: 1.8rem;
            height: 1.8rem;
            position: relative;
            left: 25%;
            top: 55%;
            margin-left: -16%;
            
        }

    }

    &__desc{
        align-self: center;
        justify-self: center;
        font-size: 1.5rem;
        font-weight: 650;
    }
}

.original{
    align-self: center;
    text-align: center;
    background-color: rgba(245, 245, 245, 0.233);
    margin-top: 4rem;
    border-radius: 5px;
    padding: 10px;
    font-size: 10px;
    transition: 0.3 linear;
}
