body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
}

.container {
  width: 40rem;
  height: 30rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  place-content: center;
  background-color: #f4839e;
  border-radius: 10px;
  -webkit-transition: background-color 250ms;
  transition: background-color 250ms;
}

@media (max-width: 500px) {
  .container {
    width: 100%;
  }
}

.button {
  place-self: center;
  width: 400px;
  height: 110px;
  display: -ms-grid;
  display: grid;
  margin: 3rem;
  cursor: pointer;
  -ms-grid-columns: 1fr 2fr;
      grid-template-columns: 1fr 2fr;
  border-radius: 10px;
  background-color: whitesmoke;
  -webkit-box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.356);
          box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.356);
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: all 0.3s cubic-bezier(0.28, 1.95, 0.73, -0.9);
  transition: all 0.3s cubic-bezier(0.28, 1.95, 0.73, -0.9);
}

@media (max-width: 500px) {
  .button {
    width: 300px;
  }
}

.button:hover {
  -webkit-transform: scale(0.93);
          transform: scale(0.93);
  -webkit-box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.356);
          box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.356);
}

.button__anim {
  border-radius: 10px 0px 0px 10px;
  background-color: #ffbecd;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
  -webkit-transition: background-color 0.3s linear;
  transition: background-color 0.3s linear;
}

.button__anim__bed {
  -webkit-transition: 0.3s linear;
  transition: 0.3s linear;
  width: 4.6rem;
}

.button__anim__lugg-one {
  -webkit-transition: 0.3s linear;
  transition: 0.3s linear;
  width: 2.8rem;
  position: relative;
  right: 25%;
  top: 10px;
}

.button__anim__lugg-two {
  -webkit-transition: 0.3s linear;
  transition: 0.3s linear;
  width: 2.3rem;
  position: relative;
  left: 25%;
  top: 17px;
}

.button__anim__dog {
  -webkit-transition: 0.4s linear 0.2s;
  transition: 0.4s linear 0.2s;
  width: 1.8rem;
  height: 1.8rem;
  position: relative;
  left: 25%;
  top: 55%;
  margin-left: -16%;
}

.button__desc {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: center;
      justify-self: center;
  font-size: 1.5rem;
  font-weight: 650;
}

.original {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  text-align: center;
  background-color: rgba(245, 245, 245, 0.233);
  margin-top: 4rem;
  border-radius: 5px;
  padding: 10px;
  font-size: 10px;
  -webkit-transition: 0.3 linear;
  transition: 0.3 linear;
}
/*# sourceMappingURL=reserveRoom.css.map */